.single__post {
  max-width: 51.875rem;
  width: 100%;
  height: 100%;
  @include resp(960) {
    max-width: 100%;
    text-align: left;
  }
}

.single__post {
  &-title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.875rem;
    color: var(--post-title-subtitle);
    @include resp(490) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  &-img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 1.25rem;
  }
  &-text {
    color: var(--post-text-color);
    opacity: 1;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: justify;
    text-indent: 1.25rem;
    margin-bottom: 1.875rem;
  }
}
.blockquote {
  border-left: 2px solid var(--blockquote-text-border);
  color: var(--blockquote-text-border);
  font-family: georgia;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0 0 1.25rem 0.9375rem;
  padding-left: 0.6875rem;
}
