.login__wrapper {
  width: 100%;
  height: calc(100vh - (var(--footer-height) + var(--header-height) + 2.5rem));
  @include resp(490) {
    height: calc(100vh - (var(--footer-height) + var(--header-height) + 3.75rem));
  }
}

.comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
  &__wrap {
    padding: 2rem 3rem 3rem;
    background-color: var(--post-title-color);
    @include resp(490) {
      padding: 1rem 1.5rem 1.5rem;
    }
    @include resp(390) {
      padding: 0.75rem 1rem 1rem;
    }
  }
  &__list {
    width: 100%;
    color: var(--comments-color);
    list-style: none;
    margin-bottom: 1.875rem;
    text-align: left;
  }
  &__item {
    margin-bottom: 1.25rem;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: repeat(2, 1fr);
    grid-template-areas: 'text text' 'author date';
  }
  &__text {
    grid-area: text;
    margin-bottom: 0.625rem;
    width: 100%;
    align-self: flex-start;
    text-indent: 1.5625rem;
  }
  &__author,
  &__date {
    font-size: 0.875rem;
  }
  &__author {
    grid-area: author;
    text-align: left;
    align-self: flex-end;
  }
  &__date {
    grid-area: date;
    text-align: right;
    align-self: flex-end;
  }
}

.centered__form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-wrapper {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__field {
    margin: 0 auto;
    &-edit {
      max-width: 43.75rem;
      width: 100%;
    }
  }
  &__control {
    padding: 1.25rem 1.25rem;
    border: 1px solid var(--upload-form-color);
    width: 100%;
    margin-bottom: 1.25rem;
    outline: none;
    font-size: 0.875rem;
    color: var(--upload-form-color);
  }
  &__control::-webkit-input-placeholder {
    color: var(--upload-form-color);
    opacity: 0.7;
  }
  &__control:focus {
    opacity: 1;
    outline: 3px solid var(--upload-form-outline);
  }
  &__btn {
    text-decoration: none;
    background: var(--upload-form-btn-bcg);
    border: 1px solid var(--upload-form-color);
    color: var(--upload-form-color);
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
    height: auto;
    padding: 0.5625rem 1.125rem;
    transition: all .2s ease-out;
    cursor: pointer;
    &:hover {
      background: var(--upload-form-color);
      color: var(--hover-upload-form-btn-bcg);
    }
  }
}
