.content {
  max-width: 51.875rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, auto));
  grid-template-columns: 1fr;
  grid-template-areas: "p1" "p2" "p3" "pagination";
  @include resp(960) {
    max-width: 100%;
  }
  @include resp(760) {
    grid-template-rows: repeat(3, auto);
  }
}

.post {
  display: flex;
  @include resp(760) {
    flex-direction: column;
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
    @include resp(760) {
      flex-direction: column;
    }
  }
  &:nth-child(5n + 1) {
    background-color: var(--post-sec-1);
  }
  &:nth-child(5n + 2) {
    background-color: var(--post-sec-2);
  }
  &:nth-child(5n + 3) {
    background-color: var(--post-sec-3);
  }
  &-0 {
    grid-area: p1;
  }
  &-1 {
    grid-area: p2;
  }
  &-2 {
    grid-area: p3;
  }
  &__image {
    grid-area: img;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
    &:hover {
      opacity: 0.5;
    }
    &:last-child() {
      flex-shrink: 2;
    }
    @include resp(760) {
      width: 100%;
      height: 100%;
    }
    &-archive {
      @include resp(690) {
        order: -1;
      }
      img {
        width: 100%;
      }
    }
  }
  &__descr {
    padding: 1.25rem;
    @include resp(760) {
      width: 100%;
      text-align: center;
    }
  }
  .not-img {
    width: 90%;
    padding-bottom: 2.25rem;
  }
  &__title,
  &__text {
    color: var(--site-color);
  }
  &__title {
    font-size: 3.25rem;
    line-height: 3.25rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
    transition: all .3s ease-out;
    &:hover {
      opacity: 0.5;
    }
    @include resp(490) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  &__text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.4375rem;
    text-align: justify;
    text-indent: 1.5625rem;
    opacity: 0.6;
  }
  &__date {
    padding: 1.25rem 0.625rem;
    font-weight: 100;
    text-align: center;
    width: 15%;
    color: var(--post-title-color);

    @include resp(760) {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-around;
    }
    @include resp(490) {
      padding: 0 1.25rem 1.25rem;
    }
    &-archive {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.25rem;
      @include resp(960) {
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__link {
    display: block;
    min-width: 12.5rem;
    text-decoration: none;
    color: var(--post-title-color);
    @include resp(490) {
      min-width: auto;
    }
  }
  &__pic {
    width: 100%;
  }
  &__archive-wrapper {
    display: flex;
    background-color: var(--post-sec-1);
    @include resp(690) {
      flex-direction: column;
    }

    article {
      padding: 2rem 3rem 3rem;
      margin: 0 0 20px;
      @include resp(490) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
      @include resp(390) {
        padding: 0.75rem 1rem 1rem;
      }
    }
  }
  &__about {
    max-width: 51.875rem;
    background-color: var(--about-formula-bcg);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 3rem;
    margin: 0 0 1.25rem;
    @include resp(960) {
      max-width: 100%;
    }
    @include resp(490) {
      padding: 1.5625rem;
    }
  }
  &__subtitle {
    color: var(--post-title-subtitle);
    font-size: 2rem;
    font-weight: 100;
    margin: 0.375rem 0;
    text-align: center;
  }
}

.date {
  display: inline-block;
}
.date {
  font-size: 0.875rem;
}
.time {
  display: block;
  font-size: 1.125rem;
}
