.header {
  width: 100%;
  height: 90px;
  background: var(--header-footer-bcg);
  position: relative;
  margin-bottom: 20px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    &-img {
      width: 150px;
      @include resp(490) {
        width: 75px;
      }
    }
    @include resp(960) {
      display: block;
    }
  }
  &__menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    background: var(--header-footer-bcg);
    @include resp(960) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }
  }
  &__menu-item {
    transition: all .3s ease-out;
    &:hover {
      background-color: var(--menu-item-hover);
    }
  }
  &__menu-link {
    padding: 23px;
    text-decoration: none;
    font-size: 18px;
    line-height: 5;
    color: var(--site-color);
    @include resp(490) {
      padding: 15px 23px;
    }
  }
  &__text {
    //sandwich
    display: none;
    @include resp(960) {
      display: block;
      text-align: center;
      cursor: pointer;
      &-svg {
        width: 30px;
        height: 30px;
        fill: var(--site-color);
      }
    }
  }
}

.login {
  list-style: none;
  margin-right: 22px;
  text-align: center;
  &__link,
  &__name {
    text-decoration: none;
    color: var(--login-footer-color);
    transition: all .2s ease-out;
    &:hover,
    &:active {
      color: var(--site-color);
      background-color: var(--site-background);
      box-shadow: 0 1rem 2rem rgba(#000000, .4);
    }
  }
}

.social {
  // margin-right: 25px;
  &__link {
    &-svg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 6px;
      background-color: var(--login-footer-color);
      fill: var(--header-footer-bcg);
      line-height: 1.42;
      &:hover {
        background-color: var(--site-color);
      }
    }
    &__link:not(:last-child) {
      margin: 0 5px 0 10px;
    }
  }
}
.marker {
  background-color: var(--site-background);
}
/*---------- 'Combobox' ----------*/
.active {
  width: 100%;
  top: rem(-500px);
  opacity: 1;
  visibility: visible;
  display: block;
  position: absolute;
  top: 90px;
  text-align: center;
  z-index: 1000;
  transition: all .3s ease-out;
  .social {
    margin-right: 0;
    &__link:not(:last-child) {
      margin: 0;
    }
  }
  &__title {
    background-color: var(--site-background);
  }
}

.down {
  transition: all .3s ease-out;
  margin-top: 380px;
}
