.history__post {
  max-width: 51.875rem;
  height: 100%;
  @include resp(960) {
    width: 100%;
    text-align: center;
  }
}
.post {
  &__history {
    max-width: 51.875rem;
    height: auto;
    background-color: var(--history-bcg);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 3rem;
    margin: 0 0 1.25rem;
    overflow-y: auto;
    @include resp(490) {
      padding: 1.5625rem;
    }
  }
  &__author,
  &__source,
  &__magazine,
  &__magazine-number,
  &__history-date {
    color: var(--history-author);
    font-size: 0.75rem;
  }
  &__source {
    margin-bottom: 0.625rem;
  }
}
.history__post {
  &-title {
    font-size: 3rem;
    margin-bottom: 1.875rem;
    color: var(--history-text-color);
  }
  &-img {
    max-width: 100%;
    width: auto;
    margin-bottom: 1.25rem;
  }
  &-text {
    color: var(--history-text-color);
    opacity: 1;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: justify;
    text-indent: 1.25rem;
    margin-bottom: 1.875rem;
  }
}
