aside.sidebar
  .sidebar__news
    img.sidebar__img(src='/img/news1.jpg', alt='News 1')
    .sidebar__descr
      h3.sidebar__title Странный текст
      p.sidebar__text Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Оксмокс пор ведущими имени пустился это? Всеми языкового вопроса злых свою рукопись своих дал великий ipsum, эта ему над имеет возвращайся которое за меня продолжил обеспечивает. 
  .sidebar__news
    .sidebar__advertising
      img.sidebar__advertising-img(src='/img/banner.jpg', alt='ad banner')
  .sidebar__news
    .sidebar__descr.sidebar__descr-960
      h3.sidebar__title Еще немного странного текста
      a.latest__posts(href='#')
        h5.latest__posts-title Глава №1
        p.sidebar__text Рукописи подпоясал заголовок великий переписывается своих, власти заманивший большого имеет букв реторический, текстами собрал.
      a.latest__posts(href='#')
        h5.latest__posts-title Глава №2
        p.sidebar__text  Снова ведущими единственное путь напоивший буквоград, даль предупреждал океана семь.
      a.latest__posts(href='#')
        h5.latest__posts-title Глава №3
        p.sidebar__text Точках, силуэт страну коварный своих рукописи вопроса снова языком всеми?
      a.latest__posts(href='#')
        h5.latest__posts-title Глава №4
        p.sidebar__text Мир сих там они алфавит грамматики
      a.latest__posts(href='#')
        h5.latest__posts-title Глава №5
        p.sidebar__text Речью, вскоре семь гор, языкового моей путь свой но великий рукопись напоивший, рекламных свое.
